.bg-teal{
    background-color: #06637F;
}
/* .bg-light-grey{
    background-color: #e9ecef;
} */
.btn-primary {
    background-color: #06637F;
}
.btn-secondary-outline {
    border-color: #06637F;
    color: #06637F;
}

.btn-secondary {
    background-color: #FE4E00;
}

btn-secondary {
    border-color: #FE4E00;
    color: #FE4E00;
}
