.bg-teal{
    background-color: #00041E;
}
/* .bg-light-grey{
    background-color: #e9ecef;
} */
.btn-primary {
    background-color: #2DEBEF;
    border-radius: 50px !important;
}
.btn-secondary-outlne {
    border-color: #2DEBEF;
    color: #2DEBEF;
    border-radius: 50px !important;
}

.btn-secondary {
    background-color: #2DEBEF;
}

.btn-secondary {
    border-color: #2DEBEF;
    color: #2DEBEF;
}
